PORT=4000
DATABASE_URL=mongodb+srv://shakibulalam2004_db_user:RCP8uKT8egp13Nu3@cluster0.g1dnbuv.mongodb.net/levelcare?appName=LevelCare
JWT_SECRET=muntasirmohimenulshakibul
ALLOWED_ORIGIN=http://localhost:5173
CLOUDINARY_CLOUD_NAME=sbq5ylke
CLOUDINARY_API_KEY=739851459244942
CLOUDINARY_API_SECRET=RVjpbZLKJsrgu3sH0cSoGBFLgzc
ENV=development